.testnav {
  display: flex !important;
  flex-direction: column !important;
  gap: 30px !important;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.nav-links li a:hover {
  color: gold;
}

.navigation-terms {
  display: flex;
  justify-content: space-around;
}

.navigation-terms li a {
  color: black !important;
  font-weight: bolder;
  font-size: larger;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navigation_icons {
  padding-top: 50px;
  padding-bottom: 20px;
  display: flex;
  gap: 30px;
  justify-content: center;
}